WebSites/Salescreen/OEMobile/App_WebReferences/Efundraising/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QSP.WebService.OrderExpress.Efundraising" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QSP.WebService.OrderExpress.Efundraising" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16014/EfundraisingServices/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfProgramType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProgramType" nillable="true" type="tns:ProgramType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgramType" nillable="true" type="tns:ArrayOfProgramType" />
  <xs:complexType name="ProgramType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgramType" nillable="true" type="tns:ProgramType" />
  <xs:complexType name="ArrayOfForm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Form" nillable="true" type="tns:Form" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfForm" nillable="true" type="tns:ArrayOfForm" />
  <xs:complexType name="Form">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormID" type="xs:int" />
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsQuantityAdjustmentAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Form" nillable="true" type="tns:Form" />
  <xs:complexType name="ArrayOfCatalogItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CatalogItem" nillable="true" type="tns:CatalogItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatalogItem" nillable="true" type="tns:ArrayOfCatalogItem" />
  <xs:complexType name="CatalogItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfUnits" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfitRate" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogItem" nillable="true" type="tns:CatalogItem" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdjustmentAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Campaign" nillable="true" type="tns:Campaign" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="EDSOrderID" type="xs:int" />
      <xs:element minOccurs="0" name="FMID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderDetailsCollection" nillable="true" type="tns:ArrayOfOrderDetail" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderStatus" nillable="true" type="tns:OrderStatus" />
      <xs:element minOccurs="0" name="OrderType" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="Campaign">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      <xs:element minOccurs="0" name="CampaignID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Campaign" nillable="true" type="tns:Campaign" />
  <xs:complexType name="ArrayOfOrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDetail" nillable="true" type="tns:OrderDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDetail" nillable="true" type="tns:ArrayOfOrderDetail" />
  <xs:complexType name="OrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adjustment" type="xs:int" />
      <xs:element minOccurs="0" name="CatalogItem" nillable="true" type="tns:CatalogItem" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Shipment" nillable="true" type="tns:ShipmentGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDetail" nillable="true" type="tns:OrderDetail" />
  <xs:complexType name="ShipmentGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Adddess" />
      <xs:element minOccurs="0" name="RequestedDeliveryDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShipmentGroup" nillable="true" type="tns:ShipmentGroup" />
  <xs:complexType name="Adddess">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip4" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Adddess" nillable="true" type="tns:Adddess" />
  <xs:complexType name="OrderStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderStatus" nillable="true" type="tns:OrderStatus" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessfull" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ResponseMessage" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
</xs:schema>