WebSites/EZFUND/SF7/ssl/schemas/ImportCustomerResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ImportCustomerResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Customer" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ExternalNumber" type="xs:string" maxOccurs="1" minOccurs="1"/>
							<xs:element name="CustomerNumber" type="xs:string" maxOccurs="1" minOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
