WebSites/EZFUND/SF7/ssl/schemas/ImportOrderResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ImportOrderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Order" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ExternalNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="OrderNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
