WebSites/Salescreen/Backup/OrderExpressClient/Web References/com.qsp.ws/Service_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ws.qsp.com/QSP.OrderExpress.Efundraising/Service_2.xsd" namespace="http://schemas.datacontract.org/2004/07/QSP.WebService.OrderExpress.Efundraising" />
  <xs:element name="GetProgramType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QSP.WebService.OrderExpress.Efundraising" minOccurs="0" name="GetProgramTypeResult" nillable="true" type="q1:ArrayOfProgramType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProgramTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QSP.WebService.OrderExpress.Efundraising" minOccurs="0" name="GetFormResult" nillable="true" type="q2:ArrayOfForm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FormID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QSP.WebService.OrderExpress.Efundraising" minOccurs="0" name="GetCatalogItemResult" nillable="true" type="q3:ArrayOfCatalogItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QSP.WebService.OrderExpress.Efundraising" minOccurs="0" name="Order" nillable="true" type="q4:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QSP.WebService.OrderExpress.Efundraising" minOccurs="0" name="CreateOrderResult" nillable="true" type="q5:ArrayOfResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QSPOrderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QSP.WebService.OrderExpress.Efundraising" minOccurs="0" name="GetOrderStatusResult" nillable="true" type="q6:OrderStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/QSP.WebService.OrderExpress.Efundraising" minOccurs="0" name="Order" nillable="true" type="q7:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/QSP.WebService.OrderExpress.Efundraising" minOccurs="0" name="UpdateOrderResult" nillable="true" type="q8:ArrayOfResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderShippedDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QSPOrderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderShippedDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrderShippedDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QSPOrderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/QSP.WebService.OrderExpress.Efundraising" minOccurs="0" name="GetOrderResult" nillable="true" type="q9:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/QSP.WebService.OrderExpress.Efundraising" minOccurs="0" name="GetWarehouseListResult" nillable="true" type="q10:ArrayOfWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehousePickupList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="allowsPickup" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehousePickupListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/QSP.WebService.OrderExpress.Efundraising" minOccurs="0" name="GetWarehousePickupListResult" nillable="true" type="q11:ArrayOfWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>