WebSites/Salescreen/QSP.OrderExpress.Business/Web References/com.qsp.ws.AccountFinderService/AccountFinder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://QSP.AccountFinder.ServiceContracts/2007/06" xmlns:s1="http://QSP.AccountFinder.DataTypes/2007/06" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://QSP.AccountFinder.ServiceContracts/2007/06" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://QSP.AccountFinder.ServiceContracts/2007/06">
      <s:import namespace="http://QSP.AccountFinder.DataTypes/2007/06" />
      <s:element name="LoginMessageRequest" type="tns:LoginMessageRequest" />
      <s:complexType name="LoginMessageRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginResult" type="s:boolean" />
      <s:element name="LogoutResult" type="s:boolean" />
      <s:element name="AccountFinderMessageRequest" type="tns:AccountFinderMessageRequest" />
      <s:complexType name="AccountFinderMessageRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="s1:Account" />
        </s:sequence>
      </s:complexType>
      <s:element name="AccountFinderMessageResponse" type="tns:AccountFinderMessageResponse" />
      <s:complexType name="AccountFinderMessageResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MatchingAccounts" type="tns:ArrayOfOutputAccount" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOutputAccount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OutputAccount" nillable="true" type="s1:OutputAccount" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://QSP.AccountFinder.DataTypes/2007/06">
      <s:complexType name="Account">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProgramType" type="s1:ProgramType" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s1:Address" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ProgramType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="OtherFood" />
          <s:enumeration value="WFCChocolate" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostCode2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OutputAccount">
        <s:complexContent mixed="false">
          <s:extension base="s1:Account">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="AccountId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MatchScore" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Fault" type="s1:Fault" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="Fault">
        <s:restriction base="s:string">
          <s:enumeration value="NoError" />
          <s:enumeration value="LastLineBadOrMissing" />
          <s:enumeration value="NoLocalityBadPostCode" />
          <s:enumeration value="BadLocalityNoPostCode" />
          <s:enumeration value="BadLocalityBadPostCode" />
          <s:enumeration value="BadPostCodeCannotDetermineCity" />
          <s:enumeration value="NoPrimaryAddressLineParsed" />
          <s:enumeration value="StreetNameNotFound" />
          <s:enumeration value="PossibleStreetNameMatchesTooCloseToChoose" />
          <s:enumeration value="PrimaryRangeMissing" />
          <s:enumeration value="PrimaryRangeInvalidForStreetRouteBuilding" />
          <s:enumeration value="PredirectionalNeededInputWrongOrMissing" />
          <s:enumeration value="SuffixNeededInputWrongOrMissing" />
          <s:enumeration value="SuffixAndDirectionalNeededInputWrongOrMissing" />
          <s:enumeration value="PostdirectionalNeededInputWrongOrMissing" />
          <s:enumeration value="BadPostCodeCannotDetermineAddressMatch" />
          <s:enumeration value="BadLocalityCannotDetermineAddressMatch" />
          <s:enumeration value="PossibleAddressLineMatchesTooCloseToChoose" />
          <s:enumeration value="UrbanizationNeededInputWrongOrMissing" />
          <s:enumeration value="AddressConflictsWithPostCodeForSameStreet" />
          <s:enumeration value="AddressConflictsWithPostcodeForDifferentStreet" />
          <s:enumeration value="NoStreetAssignmentDuplicatePostcodeMatch" />
          <s:enumeration value="NoStreetAssignmentNoPostCode" />
          <s:enumeration value="NoStreetAssignmentPostcodeNotMatched" />
          <s:enumeration value="MultipleMatchesInDifferentDirectoryAreas" />
          <s:enumeration value="DeliveryPointIDNotAssignedSecondaryInfoMissing" />
          <s:enumeration value="HighRankHasOutOfRangeSuiteNumber" />
          <s:enumeration value="HighRankHasOutOfRangePOBoxNumber" />
          <s:enumeration value="POBoxVsCivicPrimaryNamePostalCodeConflict" />
          <s:enumeration value="MultipleSuiteRankingConflict" />
          <s:enumeration value="OtherError" />
          <s:enumeration value="Foreign" />
          <s:enumeration value="InputRecordEntirelyBlank" />
          <s:enumeration value="ZIPNotInAreaCoveredByPartialZIP4Directory" />
          <s:enumeration value="OverlappingRangesInZIP4Directory" />
          <s:enumeration value="Undeliverable" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="loginMessageRequest" element="tns:LoginMessageRequest" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="LoginResult" element="tns:LoginResult" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn" />
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="LogoutResult" element="tns:LogoutResult" />
  </wsdl:message>
  <wsdl:message name="GetMatchingAccountsSoapIn">
    <wsdl:part name="GetMatchingAccountsRequest" element="tns:AccountFinderMessageRequest" />
  </wsdl:message>
  <wsdl:message name="GetMatchingAccountsSoapOut">
    <wsdl:part name="GetMatchingAccountsResult" element="tns:AccountFinderMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="AccountFinderContract">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchingAccounts">
      <wsdl:input message="tns:GetMatchingAccountsSoapIn" />
      <wsdl:output message="tns:GetMatchingAccountsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountFinderContract" type="tns:AccountFinderContract">
    <wsdl:documentation>
      <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" />
    </wsdl:documentation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://QSP.AccountFinder.ServiceContracts/2007/06/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://QSP.AccountFinder.ServiceContracts/2007/06/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchingAccounts">
      <soap:operation soapAction="http://QSP.AccountFinder.ServiceContracts/2007/06/GetMatchingAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountFinder">
    <wsdl:port name="AccountFinderContract" binding="tns:AccountFinderContract">
      <soap:address location="http://ws.qsp.com/QSP.AccountFinderStaging/AccountFinder.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>